/* General Styling */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6e8ea;
  color: #22181c;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

h2 {
  margin: 1em;
}

h3 {
  font-size: 1.6em;
  margin: 0.5em;
}

p {
  font-size: 1.4em;
}

ul {
  list-style: none;
  font-size: 1.2em;
  line-height: 2em;
}

#portfolio img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
#portfolio img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

/* Header Section */
#navigation {
  padding-top: 25px;
}
.navi {
  padding: 0px;
}
/* Jumbotron */
.jumbotron {
  margin: 90px;
}
.display-4 {
  font-size: 3em;
}
.display-4 span {
  color: #dc2c4c;
  font-weight: bold;
}

/* Portfolio */
.portfolio-body {
  padding: 50px 0px;
}

#about {
  margin-bottom: 50px;
}

/* #contact-head .row {
  border-top: solid 2px #222;
  padding: 3.2em 0;
} */

#contact {
  background-color: #dc2c4c;
  margin-top: 200px;
  height: 500px;
}

#contact img {
  margin: 100px;
}

#contact a {
  color: #22181c;
}
