/* General Styling */

*{
	padding: 0;
	margin: 0;
}

body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #555;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing:antialiased;
	color: #333;
}
h1{
    font-size: 52px;
    font-weight: 800;
    line-height: 1.1;
    margin: 0 0 10px;
    letter-spacing: -0.07em;
}
h2{
    font-size: 24px;
    color: #303133;
    margin: 0 0 8px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.04em;
}
h3,h4{
    margin: 0 0 10px;
    font-weight: 600;
    line-height: 1.4;
    color: #303133;
    letter-spacing: -0.01em;
}
h3{
    font-size: 17px;
}
h4{
    font-size: 15px;
}
h5,h6{
    font-size: 14px;
    margin: 0 0 10px;
}



/* Header Section */
   .header-section{
    background-color: transparent;
    width: 100%;
    height: 80px;
    padding: 10px 0;
}

.navbar-brand {
	font-size: 25px;
	font-weight: bold;
}

/* Header Section */

.hero-section {
    background-color: #303133;
    /* background-image: url(../assets/images/patrick-hendry-39127-unsplash.jpg); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center center; */
    /* -webkit-background-size: cover; */
    /* background-size: cover; */
    height: 300px; /*originally 670px */
    /* position: relative;
    z-index: 1; */
}

.hero-section h1 {
	color: #fff;
}

.hero-section a {
    color: yellow;
}

#hero-text {
    /* padding-top: 280px; */
    padding-top: 100px;
}
.about-section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.about-image {
	width: 100%;
}

/* Portfolio Section */
#portfolio {
	padding-top: 80px;
    background-color:#f7f7f7;
    padding-bottom: 80px;
}

.align-center {
	text-align: center;
}

#portfolio-heading {
    padding-bottom: 20px;
}

#contact {
    padding-top: 80px;
    padding-bottom: 80px;
}